.uno{
   background-image: url(../img/bg-palm.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: 100% 100%;
}
.logo{
    text-align: center;
}
img{
    margin-top: 100px;
}
.links{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 37%;
    margin-right: 37%;
}
.link{
    margin-top: 25px;
    background-color: #fff;
    border-radius: 30px;
    padding: 15px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    text-align: initial;
    font-size: 1.2rem;
    
}
.links{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
   
    font-size: 1.2rem;

}
.las{
    color: rgb(0, 204, 255);
    font-size: 2rem;
    align-items: center;
    margin-right: 39%;
}

.lab{
    font-size: 2.5rem;
    align-items: center;

}


.item{
    margin-top: 100px;
    display: flex;
    max-width: 8%;
    margin-left: 38%;
}