.sombra {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: 20px;
}
.btn-form{
margin-top: 1.5rem;
}


footer{
    margin-top: 10rem;
 
}

p{
    color: #fff;
}

.iconos{
    display:inline-block; 
    font-size: 2rem;
    
}